   
ul{
    margin-left: 70px;
}
li{
    display: inline;
}

a.nav-link1 img{

    margin-top: 2px;
    width: 100px;
    height: 50px;

}

a.nav-link{
    margin-right: 0px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

h2.product{
    color:black;
    background-color:lightskyblue;
    font-size: 60PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
    color:rgb(45, 50, 54);
   
    font-size: 20PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}